<h1>빅데이터분석기사 작업형 2 문제 연습</h1>


<h3>데이터 로드</h3>

In [31]:
import pandas as pd
import numpy as np
from sklearn import linear_model

# 맥(utf-8)과 윈도우(cp949)의 인코딩 방식 차이로 cp949 인코딩을 이용하여 에러 방지
x_test = pd.read_csv('data/X_test.csv', encoding='cp949')
x_train = pd.read_csv('data/X_train.csv', encoding='cp949')
y_train = pd.read_csv('data/y_train.csv', encoding='cp949')

<h3>데이터 결측치, 특성 파악</h3>

In [43]:
print('X_train 레코드 수:', len(x_train))
print('Y_train 레코드 수:', len(y_train))
print('X_test 레코드 수:', len(x_test))

print(x_test)
print(x_test['환불금액'].isnull())
print(x_train.info())
print()
print('--------컬럼 별 처리-------')
for cname in x_train.columns:
    print('******'+cname,'컬럼*****')
    n_null = x_train[cname].isnull().sum()
    print('결측치 갯수:',n_null)
    if n_null != 0:
        print('결측치 0으로 대체')
        x_train[cname][x_train[cname].isnull()] = 0
    #print(x_test[cname]==np.NaN)
    if x_train[cname].dtypes =='object':
        print(x_train[cname].unique())
    print()
    
print(x_train)

X_train 레코드 수: 3500
Y_train 레코드 수: 3500
X_test 레코드 수: 2482
      cust_id       총구매액     최대구매액        환불금액   주구매상품 주구매지점  내점일수    내점당구매건수  \
0        3500   70900400  22000000   4050000.0      골프  부산본점    13   1.461538
1        3501  310533100  38558000  48034700.0     농산물   잠실점    90   2.433333
2        3502  305264140  14825000  30521000.0    가공식품  본  점   101  14.623762
3        3503    7594080   5225000         NaN    주방용품  부산본점     5   2.000000
4        3504    1795790   1411200         NaN     수산품  청량리점     3   2.666667
...       ...        ...       ...         ...     ...   ...   ...        ...
2477     5977   82581500  23976000         NaN      골프  부산본점     8   1.750000
2478     5978     480000    480000         NaN    섬유잡화   광주점     1   1.000000
2479     5979  260003790  25750000         NaN  남성 캐주얼  본  점    19   3.736842
2480     5980   88991520  18120000         NaN      육류  본  점     5   3.600000
2481     5981     623700    209000         NaN    가공식품  영등포점     2   5.000000

        주말방문비율  구매주기
0     0.789474    26
1     0.369863     3
2     0.083277     3
3     0.000000    47
4     0.125000     8
...        ...   ...
2477  0.642857    40
2478  0.000000     0
2479  0.915493    18
2480  0.444444    60
2481  0.000000    31

[2482 rows x 10 columns]
0       False
1       False
2       False
3        True
4        True
        ...
2477     True
2478     True
2479     True
2480     True
2481     True
Name: 환불금액, Length: 2482, dtype: bool
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     3500 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB
None

--------컬럼 별 처리-------
******cust_id 컬럼*****
결측치 갯수: 0

******총구매액 컬럼*****
결측치 갯수: 0

******최대구매액 컬럼*****
결측치 갯수: 0

******환불금액 컬럼*****
결측치 갯수: 0

******주구매상품 컬럼*****
결측치 갯수: 0
['기타' '스포츠' '남성 캐주얼' '보석' '디자이너' '시티웨어' '명품' '농산물' '화장품' '골프' '구두' '가공식품'
 '수산품' '아동' '차/커피' '캐주얼' '섬유잡화' '육류' '축산가공' '젓갈/반찬' '액세서리' '피혁잡화' '일용잡화'
 '주방가전' '주방용품' '건강식품' '가구' '주류' '모피/피혁' '남성 트랜디' '셔츠' '남성정장' '생활잡화'
 '트래디셔널' '란제리/내의' '커리어' '침구/수예' '대형가전' '통신/컴퓨터' '식기' '소형가전' '악기']

******주구매지점 컬럼*****
결측치 갯수: 0
['강남점' '잠실점' '관악점' '광주점' '본  점' '일산점' '대전점' '부산본점' '분당점' '영등포점' '미아점'
 '청량리점' '안양점' '부평점' '동래점' '포항점' '노원점' '창원점' '센텀시티점' '인천점' '대구점' '전주점'
 '울산점' '상인점']

******내점일수 컬럼*****
결측치 갯수: 0

******내점당구매건수 컬럼*****
결측치 갯수: 0

******주말방문비율 컬럼*****
결측치 갯수: 0

******구매주기 컬럼*****
결측치 갯수: 0

      cust_id       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0           0   68282840  11264000  6860000.0      기타   강남점    19  3.894737
1           1    2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2           2    3197000   1639000        0.0  남성 캐주얼   관악점     2  2.000000
3           3   16077620   4935000        0.0      기타   광주점    18  2.444444
4           4   29050000  24000000        0.0      보석  본  점     2  1.500000
...       ...        ...       ...        ...     ...   ...   ...       ...
3495     3495    3175200   3042900        0.0      골프  본  점     1  2.000000
3496     3496   29628600   7200000  6049600.0    시티웨어  부산본점     8  1.625000
3497     3497      75000     75000        0.0    주방용품   창원점     1  1.000000
3498     3498    1875000   1000000        0.0     화장품  본  점     2  1.000000
3499     3499  263101550  34632000  5973000.0      기타  본  점    38  2.421053

        주말방문비율  구매주기
0     0.527027    17
1     0.000000     1
2     0.000000     1
3     0.318182    16
4     0.000000    85
...        ...   ...
3495  1.000000     0
3496  0.461538    40
3497  0.000000     0
3498  0.000000    39
3499  0.467391     8

[3500 rows x 10 columns]